.movie-genre {
  padding: 0.5rem;
  border-radius: 20px;
  margin: 0 0.15rem;
}
.GenreSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

nav {
  position: fixed;
  top: 0;
  z-index: 5;
}
