.App {
  text-align: center;
  background-color: #e0f2f1;
}

.genresDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.movie-genre {
  padding: 2px;
}

.fixedGenres {
  position: fixed;
  top: 7vh;
  z-index: 5;
  max-height: 90vh;
  overflow-y: auto;
}
.sectionMarginTop {
  height: 50px;
}
